*.log
.pytest_cache
__pycache__
assistant/client_secret.json
assistant/device_config.json
boiler/last_state.txt
node_modules
package-lock.json
scheduler/credentials.json
scheduler/token.json
weather/my_location.txt
weather/weather_api_key.txt